<div *ngIf="species && species.name && pokemon && pokemon.name">
  <table class="table table-bordered">
    <thead>
      <!-- name and genus display -->
      <tr>
        <th>
          {{ species.name | titlecase }} (#{{species.id}})
          <div class="font-weight-lighter">
            {{ getGenus() }}
          </div>

        </th>
      </tr>
    </thead>
    <tbody>
      <!-- showcase image display -->
      <tr>
        <td class="profile-image-wrapper"><img src="{{pokemon.sprites.front_default}}"
          alt="{{ pokemon.name }} image" class="profile-image"/></td>
      </tr>
      <!-- types display -->
      <tr>
        <td *ngIf="pokemon.types.length === 1">
          Type: {{ pokemon.types[0].type.name | titlecase }}
        </td>
        <td *ngIf="pokemon.types.length === 2">
          Type: {{ pokemon.types[1].type.name | titlecase }} /
          {{ pokemon.types[0].type.name | titlecase }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!species" class="text-center" style="margin-top:40px">
  <h3>Search returned no results</h3>
</div>